body{
    background-color: rgb(125, 139, 47);
}
td{
    border: 2px solid black;
    background: red;
}
th{
    border: 2px solid black;
}
hr{
    border-color: black;
}
div{
    color: blue;
    background-color: rgb(92, 171, 31);
}