body{
    background-color: rgb(125, 139, 47);
}
td{
    border: 2px solid black;
    background: red;
}
th{
    border: 2px solid black;
}
hr{
    border-color: black;
}
div > p{
    color: blue;
    background-color: rgb(92, 171, 31);
}
div p{
    color: azure;
    background-color: blueviolet;
}

* {
  padding-left:7px;
  margin:0px;
}